
/* Footer top */
.unset {
    all: unset
}
footer .grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    column-gap: 20px;
}
footer  .grid-3 {
    display: grid !important;
    grid-template-columns: repeat(3, 33.3%);
}

.footer__title {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer-top .grid-item ul {
    text-decoration: none;
    display: block;
    color: rgba(0,0,0,.54);
    list-style-type: none;
    margin: 0 0 1.5625rem;
    padding: 0px
}

/* pay__icon */
.list_menu-pay li {
    margin: 5px 0px;
    height: 36px
}
.pay__icon {
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ac3a8f576164d64b185ada4409e3d5d2.png);
    padding: 18px 0px
}
/* end pay__icon */
.footer-top a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: .75rem;
    margin-bottom: .75rem;
    text-transform: capitalize;
}
.footer-top a:hover {
    text-decoration: none;
    color: rgba(3, 151, 250, 0.54);
    font-size: .75rem;
    font-weight: bold;
}
/* list_menu-about */
.list_menu-about li {
    margin: 5px 0px;
}
.list_menu-about li a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: .75rem;
    font-weight: bold
}
.list_menu-about li a::before {
    color: black;
    margin-right: 5px;
    font-size: 16px;
}
.list_menu-about li:first-child a::before {
    content: '\f09a';
}
.list_menu-about li:nth-child(2) a::before {
    content: '\f16d';
}
.list_menu-about li:nth-child(3) a::before {
    content: '\f081';
}
.list_menu-about li:nth-child(4) a::before {
    content: '\f167';
}

.list_menu-about li:first-child:hover a::before {
    color: #0779E9
}
.list_menu-about li:nth-child(2):hover a::before {
    content: '\f16d';
}
.list_menu-about li:nth-child(3):hover a::before {
    color: #1DA1F2
}
.list_menu-about li:nth-child(4):hover a::before {
    color: #FF0101
}
/* End list_menu-about */

/* dowload-box */
.dowload-box__img, .dowload-box__link{
    width: 86px; height: 86px
}
/* End dowload-box*/

/* END footer top */

/* footer middle */
.float-right {font-size: .875rem;color: rgba(0,0,0,.54);}
.float-right span {
    border-right: .1px solid gray;
    padding: 0px 10px
}
.float-right span:last-child {border: none}
/* End footer middle */

/* footer-bottom */
.footer-bottom__body a {opacity: 1;}
.footer-bottom__body a .pay__icon {
    width: 100px;
    background-size: 630.8333333333334% 408.8888888888889%;
    background-position: 100% 7.194244604316546%;
}
.footer-bottom__body a:nth-child(2) {margin: 0px 20px}
.footer-bottom__body a:last-child .pay__icon {width: 40px;}
.addr {
    margin: 0;
    line-height: 1.2;
    margin-top: 8px;
}
/* footer-bottom__header */
.footer-bottom__header {
    display: flex;
    justify-content: center;
}

.footer-bottom__header div a {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
}
.footer-bottom__header div a:hover {
    text-decoration: none;
    font-size: .75rem;
    color: rgba(0,0,0,.54);
}
/* END footer-bottom */
/* Icon troi noi */
footer .menu-slide {
    position: absolute;
    z-index: 3;
    top: 75%;
    right: 5%;
}
footer .toggle {
  background-color: #4aacc5;
  color: white;
  font-size: 30px;
  text-align: center;

  height: 47px;
  transition: all 1s;
  width: 50px;
  border-radius: 50px;
}

footer  a {
    font-size: 25px;
    color: white;
    opacity: .7;
}

footer a:hover {
    opacity: 1;
    font-size: 25px;
    color: gray;
}