#cart {
    margin-top: -20px;
}
/* Header */
    

.header__middle-list-menu {
    height:90px;
    padding-top: 0px;

    display: grid;
    grid-template-columns: 1fr 1fr 7fr 1fr;
    align-items: center;
    column-gap: 20px;
}
.title_cart h1::before {
    content: '|';
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}
.member-box .customer__avatar {
        width: 20%;
        border-radius: 100%;
        margin-right: 5px;
    }
    .customer__name {
        width: 80%;
        color: white
    }
/* END header */
/*  pay__header */
.fas::before {
    content: "\f3c5";
    margin-right: 10px;
    color: rgb(20, 147, 221);
}
/* end  pay__header */