* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#icon {
    border-radius: 100%;
    background: red
}
/* Thanh scrollbar */
    ::-webkit-scrollbar {
        width: 0px;
        background: linear-gradient(white); 
    }
    /* End scrollbar */
ul {
    list-style-type: none;
}
img {
    width: 100%; height: 100%
}